:host {
    height: 5.5rem;
    width: 100dvw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 var(--space-8);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-4);

    border-bottom: 2px solid var(--primary-200);

    background-color: var(--surface-raised);
}

.header__brand-logo {
    height: 5rem !important;
    width: 5rem !important;

    padding: 0;

    color: var(--primary-color);
}

.header__brand,
.header__meta {
    height: 100%;

    padding: var(--space-2) 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__nav {
    padding: 0 var(--space-6);

    display: flex;
    justify-items: flex-start;
    align-items: center;
    gap: var(--space-6);
}

.header__nav-link {
    position: relative;

    text-transform: uppercase;
    letter-spacing: 0.06em;

    background: linear-gradient(to right,
            var(--text-muted) 10%,
            var(--secondary-color) 90%);
    background-size: 200% 100%;
    background-position: right;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    cursor: pointer;

    transition: color .5s ease-out,
        background-position .5s ease-out;
}

.header__nav-link::after {
    content: '';

    width: 0;
    height: 2px;

    position: absolute;
    bottom: 2px;
    left: 0;

    background-color: var(--text-muted);

    transition: width .5s ease-out,
}

.header__nav-link:hover {
    color: var(--secondary-color);
    background-position: left;
}

.header__nav-link:hover::after {
    width: 100%;
}

.header__contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);

    color: var(--text-subtle);

    cursor: pointer;
}

.header__contact-icon {
    color: var(--secondary-color);
}

.header__contact {
    padding-right: var(--space-2);

    display: grid;
    gap: var(--space-2);
}

.header__contact-label {
    color: var(--text-subtle);
    margin: 0;
}

.header__settings {
    height: 100%;

    padding: 0 var(--space-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2);

    border-left: 1px solid var(--primary-200);
}

.header__settings-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);

    color: var(--text-subtle);

    cursor: pointer;
}

.header__lang {
    position: relative;
}

.header__lang-trigger {
    min-width: 100%;

    padding: var(--space-1) 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);

    border: none;
    background: transparent;

    cursor: pointer;
}

.header__lang-trigger:hover .header__lang-label {
    color: var(--secondary-color);
}

.header__lang-icon {
    color: var(--secondary-color);
    flex-shrink: 0;
}

.header__lang-list {
    min-width: 100%;

    position: absolute;
    top: 100%;
    left: 0;
    padding: var(--space-1);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--space-1);

    background-color: var(--surface-raised);
}

.header__lang-button {
    border: none;
    color: var(--text-muted);
    background: transparent;
    cursor: pointer;
}

.header__lang-item {
    min-width: 100%;

    padding: var(--space-1);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    outline: 1px solid transparent;
    background-color: var(--primary-color);

    transition: outline .5s ease-out,
        background-color .5s ease-out;
}

.header__lang-item:hover {
    outline: 1px solid var(--primary-color);
    background-color: var(--surface-raised);
}

.header__lang-item .header__lang-button {
    color: var(--surface-raised);
    transition: color .5s ease-out;
}

.header__lang-item:hover .header__lang-button {
    color: var(--primary-color);
}

.header__lang-label,
.header__settings-label {
    margin: 0;
    color: var(--text-subtle);
    transition: color .5s ease-out;
}

.header__lang-label:hover,
.header__settings-label:hover {
    color: var(--secondary-color);
}

.icon {
    height: auto;
    width: clamp(18px, 2.5vw + 0.5rem, 24px);

    color: var(--secondary-color);
}

.icon svg {
    height: 100%;
    width: 100%;
}

.header__theme-trigger {
    border: none;
    background: transparent;
    cursor: pointer;
}

.header__controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--space-6);
}

// ANIMACIONES

// Idiomas
.lang-enter {
    @starting-style {
        opacity: 0;
    }

    transition: opacity 600ms ease-out;
    opacity: 1;
}

.lang-enter .header__lang-item:nth-child(1) {
    transition-delay: 50ms;
}

.lang-enter .header__lang-item:nth-child(2) {
    transition-delay: 150ms;
}

.lang-enter .header__lang-item:nth-child(3) {
    transition-delay: 300ms;
}

.lang-enter .header__lang-item {
    @starting-style {
        opacity: 0;
    }

    transition: opacity 600ms ease-out;
    opacity: 1;
}

.lang-leave {
    transition: opacity 400ms ease-out;
    opacity: 0;
}

// Dropdown / Sidebar
.menu-enter,
.sidebar-enter {
    @starting-style {
        opacity: 0;
        transform: translateY(-10px);
    }

    transition: opacity 200ms ease-out,
    transform 200ms ease-out;
    opacity: 1;
    transform: translateY(0);
}

.menu-leave,
.sidebar-leave {
    transition: opacity 200ms ease-out,
        transform 200ms ease-out;
    opacity: 0;
    transform: translateY(-10px);
}

// Animación: staggered animation
@keyframes staggeredAnimation {

    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 1650px) {

    .header__dropdown-trigger,
    .header__dropdown-menu,
    .header__sidebar-trigger,
    .header__sidebar {
        display: none;
    }

    .header__brand {
        flex: 1 1 auto;
        min-width: 0;
    }

    .header__meta {
        flex: 0 0 auto;
    }


}

@media (max-width: 1650px) {

    .header__meta,
    .header__sidebar-trigger,
    .header__sidebar {
        display: none;
    }

    .header__dropdown-trigger,
    .header__close-trigger {
        height: clamp(22px, 3vw + 0.5rem, 30px);
        width: clamp(22px, 3vw + 0.5rem, 30px);

        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        border-radius: 50%;
        outline: 1px solid transparent;
        background: transparent;

        cursor: pointer;
    }

    .header__dropdown-label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-1);
    }

    .header__dropdown-label .text-body {
        text-transform: uppercase;
        color: var(--text-subtle);

        transition: color .5s ease-out;
    }

    .header__dropdown-icon {
        color: var(--text-subtle);

        transition: color .5s ease-out,
            transform .2s ease-out;
    }

    .header__dropdown-trigger:hover .text-body,
    .header__dropdown-trigger:hover .header__dropdown-icon {
        color: var(--secondary-color);
    }

    .header__dropdown-trigger:active .header__dropdown-icon {
        transform: rotate(90deg);
    }

    .header__dropdown-menu {
        width: 100dvw;

        position: fixed;
        top: 5.5rem;
        right: 0;
        padding: var(--space-2);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-4);

        box-shadow: var(--shadow-lg);

        background-color: var(--surface-raised);
    }

    .header__close-trigger {
        position: absolute;
        top: var(--space-2);
        right: var(--space-2);
    }

    .header__close-trigger:active .header__close-icon {
        transform: rotate(45deg);
    }

    .header__close-icon {
        height: 100%;
        width: 100%;

        transition: transform .2s ease-out;
    }

    .header__close-trigger:hover .header__close-icon {
        color: var(--secondary-color);
    }

    .header__dropdown-content,
    .header__contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--space-6);
    }

    .header__dropdown-content {
        margin: 0 var(--space-6);
    }

    .header__settings {
        padding: var(--space-1) var(--space-2);
    }

    .header__lang-trigger {
        padding: 0;
    }
}

@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }

    .header__brand {
        gap: 0;
    }

    .header__sidebar-trigger {
        height: clamp(22px, 3vw + 0.5rem, 30px);
        width: clamp(22px, 3vw + 0.5rem, 30px);

        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        border-radius: 50%;
        outline: 1px solid transparent;
        background-color: var(--text-subtle);

        cursor: pointer;

        transition: background-color .5s ease-out;
    }

    .header__sidebar-trigger:hover {
        background-color: var(--secondary-color);
    }

    .header__sidebar-icon {
        height: 100%;
        width: 100%;

        color: var(--surface-raised);

        transition: color .5s ease-out,
            transform .2s ease-out;
    }

    .header__sidebar-trigger:active .header__sidebar-icon {
        transform: rotate(45deg);
    }

    .header__sidebar {
        width: 100dvw;

        position: fixed;
        top: 5.5rem;
        right: 0;
        padding: var(--space-6);
        z-index: 9;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--space-6);

        background-color: var(--surface-raised);
    }

    .header__nav-link {
        opacity: 0;
        animation: staggeredAnimation 0.5s ease forwards;
    }

    .header__nav-link:nth-child(2) {
        animation-delay: 0.1s;
    }

    .header__nav-link:nth-child(3) {
        animation-delay: 0.2s;
    }

    .header__nav-link:nth-child(4) {
        animation-delay: 0.3s;
    }

    .header__nav-link:nth-child(5) {
        animation-delay: 0.4s;
    }

    .header__nav-link:nth-child(6) {
        animation-delay: 0.5s;
    }

    .header__nav-link:nth-child(7) {
        animation-delay: 0.6s;
    }
}

@media (max-width: 950px) {

    .header__dropdown-content {
        padding: var(--space-4) 0;
        display: grid;
        gap: var(--space-4);
    }


    .header__dropdown-content .header__settings {
        padding: var(--space-4);

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-4);

        border-left: none;
        border-top: 1px solid var(--primary-200);
    }
}

@media (max-width: 750px) {
    :host {
        padding-left: var(--space-4);
        padding-right: var(--space-6);
    }

    .header__sidebar {
        align-items: center;
    }
}

@media (max-width: 500px) {

    .header__dropdown-menu {
        padding: var(--space-5) 0;
    }

    .header__contact,
    .header__dropdown-content .header__settings {
        display: grid;
        place-items: center;
        gap: var(--space-6);
    }

    .header__dropdown-content .header__settings {
        padding: var(--space-4) var(--space-4) var(--space-4) 0;
    }

    .header__contact-item {
        display: grid;
        place-items: center;
    }

    .header__controls {
        gap: var(--space-5);
    }
}