.footer__info,
.footer__author {
    padding: var(--space-6) var(--space-3);

    text-align: center;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-9);

    background-color: var(--primary-300);
}

.footer__info>* {
    flex: 0 0 12rem;
}

.footer__list {
    padding: var(--space-2);

    display: grid;
    place-items: center;
    gap: var(--space-4);
}

.footer__list-item {
    height: var(--space-5);
    width: 100%;

    display: grid;
    place-items: center;

    outline: 1px solid transparent;

    cursor: pointer;

    transition: outline .5s ease-out;
}

.footer__list-link {
    height: 100%;
    width: 100%;

    display: grid;
    justify-content: center;
    align-items: center;

    color: var(--primary-700);
    transition: color .5s ease-in-out;
}

.footer__list-item:hover {
    outline: 1px solid var(--primary-900);
}

.footer__list-item:hover .footer__list-link {
    color: var(--primary-900);
}

.footer__promo {
    padding: var(--space-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__social {
    width: 100%;

    padding: 0 var(--space-3) var(--space-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--primary-700);
}

.footer__social-link {
    height: 36px;
    width: 36px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(1);

    border-radius: 50%;
    outline: 2px solid transparent;

    background-color: var(--primary-700);

    transition: scale .5s ease-out,
        outline .5s ease-out,
        background-color .5s ease-out;
}

.footer__social-link::before {
    content: attr(data-tooltip);

    position: absolute;
    inset: -45% auto auto 50%;
    translate: -50%;
    padding: var(--space-1) var(--space-2);

    font-size: 15px;
    font-family: 'Gentium Book Plus', serif;

    border-radius: 2px;
    color: var(--primary-200);
    background-color: var(--primary-700);
    opacity: 0;
    visibility: hidden;

    transition: opacity .2s ease-out,
        visibility .3s ease-out,
        inset-block-start .3s cubic-bezier(0.5, 2, 0.4, 1.5);
}

.footer__social-link:hover::before {
    opacity: 1;
    visibility: visible;
    inset-block-start: -80%;
}

.footer__social-link:hover {
    transform: scale(1.05);
    outline: 2px solid var(--primary-900);
    background-color: var(--primary-300);
}

.footer__social .icon {
    height: auto;
    width: clamp(20px, 3vw + 0.5rem, 34px);

    color: var(--primary-300);
    transition: color .5s ease-out;
}

.footer__social-link:hover .icon {
    color: var(--primary-900);
}

.footer__brand-logo {
    height: 12rem !important;
    width: 12rem !important;

    text-align: center;

    color: var(--primary-700);
}

.footer__author {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-9);

    border-top: 1px solid var(--primary-200);
    background-color: var(--primary-color);
}

.footer__author-link {
    padding: 0 var(--space-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);

    color: var(--primary-200);

    transition: outline .5s ease-out, color .5s ease-in-out;
}

.footer__author-icon path {
    transform: scale(1.2);
    transform-origin: center;
}

.icon {
    height: auto;
    width: clamp(18px, 2.5vw + 0.5rem, 24px);

    flex-shrink: 0;
}

.icon svg {
    height: 100%;
    width: 100%;
}

.footer__author-link:hover {
    color: var(--primary-50);
}

@media (min-width: 200px) and (max-width: 1200px) {
    .footer__info {
        gap: var(--space-7);
    }

    .footer__author {
        gap: var(--space-5);
    }
}